body {
	font-family: 'Inconsolata', serif;
	}

h1 {
	text-align: center;
	}

.likeandreblog {
    position: absolute;
    right: 0px;
	}

.likeandreblog li {
	float: left;
    margin: 5px;
    height: 20px;
            }
